<div class="page backlog-item-show">
  <div class="page-header">
    <div class="actions">
      <a href="<%= edit_backlog_item_path(@backlog_item) %>" class="create-new-item btn btn-primary"><i class="fa fa-edit"></i> Edit Backlog Item</a>
    </div>
    <h2 class="title"><%= @backlog_item.title %></h2>
    <ul class="tags">
      <% @backlog_item.tags.each do |tag| %>
        <li class="tag">
          <i class="fa fa-tag"></i> <%= tag.name %>
        </li>
      <% end %>
      <li class="add">
        <a href="<%= edit_backlog_item_path(@backlog_item) %>">
          <i class="fa fa-plus"></i>
        </a>
      </li>
    </ul> <!-- .tags -->
  </div>

  <div class="row">

    <div class="col-md-8">
      <p class="lead description">
        <% if @backlog_item.has_description? %>
          <%= @backlog_item.description %>
        <% else %>
          This Backlog Item has currently no description. <%= link_to "Add one", edit_backlog_item_path(@backlog_item) %>
        <% end %>
      </p>

      <section class="acceptance-criteria-section">
        <header>
          <h3>Acceptance criteria</h3>
        </header>
        <acceptance-criteria></acceptance-criteria>
      </section>

      <section class="notes-section">
        <header>
          <h3>Notes</h3>
        </header>
        
        <div class="notes">
          <% if @backlog_item.notes.empty? %>
            <p class="empty">There are not notes yet</p>
          <% else %>
            <% @backlog_item.notes.each do |note| %>
              <div class="note clearfix">
                <div class="author">
                    <%= link_to gravatar_image_tag(note.author.email, :gravatar => { :size => 60 }), '' %>
                </div> <!-- author -->
                <div class="main">
                  <p class="title lead"><%= note.title %></p>
                  <% unless note.description.blank? %>
                    <p class="description">
                      <%= note.description %>
                    </p>
                  <% end %>
                  <% unless note.has_image? %>
                    <div class="image-container">
                      <%= image_tag note.image.url %>
                    </div>
                  <% end %>
                  <p class="meta">
                    <small>
                      <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago"><%= time_ago_in_words(note.created_at) %> ago</span>&nbsp;&nbsp;&nbsp;<%= note.created_at.to_formatted_s(:long_ordinal) %>
                    </small>
                  </p>
                </div> <!-- .main -->
              </div>
            <% end %>
          <% end %>
        </div>
      </section>


    </div>

    <div class="col-md-4 activities">
      <header>
        <h3>Activities</h3>
      </header>
   
    </div>

  </div> <!-- row -->

</div> <!-- .backlog-item-show -->

<script>
  window.BOOTSTRAPPED_DATA = <%= @bootstrapped_data.html_safe %>;
</script>
