<div class="page backlog-item-show">
  <div class="page-header">
    <div class="actions">
      <a href="<%= edit_backlog_item_path(@backlog_item) %>" class="create-new-item btn btn-primary"><i class="fa fa-edit"></i> Edit Backlog Item</a>
    </div>
    <h2 class="title"><%= @backlog_item.title %></h2>
    <ul class="tags">
      <% @backlog_item.tags.each do |tag| %>
        <li class="tag">
          <i class="fa fa-tag"></i> <%= tag.name %>
        </li>
      <% end %>
      <li class="add">
        <a href="<%= edit_backlog_item_path(@backlog_item) %>">
          <i class="fa fa-plus"></i>
        </a>
      </li>
    </ul> <!-- .tags -->
  </div>

  <div class="row">

    <div class="col-md-8">
      <p class="lead description">
        <% if @backlog_item.has_description? %>
          <%= @backlog_item.description %>
        <% else %>
          This Backlog Item has currently no description. <%= link_to "Add one", edit_backlog_item_path(@backlog_item) %>
        <% end %>
      </p>

      <section class="acceptance-criteria-section">
        <header>
          <h3>Acceptance criteria</h3>
        </header>
        <acceptance-criteria></acceptance-criteria>
      </section>

      <section class="notes-section">
        <header>
          <h3>Notes</h3>
        </header>
        
        <div class="notes">
          <% if @backlog_item.notes.empty? %>
            <p class="empty">There are not notes yet</p>
          <% else %>
            <% @backlog_item.notes.each do |note| %>
              <div class="note clearfix">
                <div class="author">
                    <%= link_to gravatar_image_tag(note.author.email, :gravatar => { :size => 60 }), '' %>
                </div> <!-- author -->
                <div class="main">
                  <p class="title lead"><%= note.title %></p>
                  <% unless note.description.blank? %>
                    <p class="description">
                      <%= note.description %>
                    </p>
                  <% end %>
                  <% unless note.has_image? %>
                    <div class="image-container">
                      <a href="<%= note.image.url %>" title="<%= note.title %>" class="fancybox">
                        <%= image_tag note.image.url %>
                      </a>
                    </div>
                  <% end %>
                  <p class="meta">
                    <small>
                      <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago"><%= time_ago_in_words(note.created_at) %> ago</span>&nbsp;&nbsp;&nbsp;<%= note.created_at.to_formatted_s(:long_ordinal) %>
                    </small>
                  </p>
                </div> <!-- .main -->
              </div>
            <% end %>
          <% end %>
        </div>
      </section>


    </div>

    <div class="col-md-4 activities">

      <div class="activity-stream">

        <div class="activity">
          <div class="actor">
              <a href=""><i class="fa fa-group"></i></a>
          </div>

          <div class="main">
            <div class="content">
              
          <p class="primary">
            Has been estimated with 5 story points by
          </p>
          <p class="secondary">
              <a href=""><img alt="Gravatar" height="26" src="http://gravatar.com/avatar/ac42e40df180c367fbbc7b4ca4cc9701?size=26" width="26"></a>
              <a href=""><img alt="Gravatar" height="26" src="http://gravatar.com/avatar/4531c9cb401c7a0c5ed4ec15265a15bd?size=26" width="26"></a>
              <a href=""><img alt="Gravatar" height="26" src="http://gravatar.com/avatar/1be7fbff1c430e383ee2c20111fe9afe?size=26" width="26"></a>
          </p>

            </div>
            <p class="footer">
              <small>
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago">Just now</span>&nbsp;&nbsp;&nbsp;August 21st, 2014 09:37
              </small>
            </p>
          </div>
        </div>


        <div class="activity">
          <div class="actor">
              <a href=""><img alt="Gravatar" height="60" src="http://gravatar.com/avatar/ac42e40df180c367fbbc7b4ca4cc9701?size=60" width="60"></a>
          </div>

          <div class="main">
            <div class="content">
              
          <p class="primary">
            Has been tagged with <a href="">needs discussion</a>
          </p>

            </div>
            <p class="footer">
              <small>
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago">20 minutes ago</span>&nbsp;&nbsp;&nbsp;August 21st, 2014 09:17
              </small>
            </p>
          </div>
        </div>

        <div class="activity">
          <div class="actor">
              <a href=""><img alt="Gravatar" height="60" src="http://gravatar.com/avatar/9391c1bd2c647090f1d484bc566914f1?size=60" width="60"></a>
          </div>

          <div class="main">
            <div class="content">
              
          <p class="primary">
          The acceptance criteria have been refined
          </p>

            </div>
            <p class="footer">
              <small>
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago">30 minutes ago</span>&nbsp;&nbsp;&nbsp;August 21st, 2014 09:07
              </small>
            </p>
          </div>
        </div>


        <div class="activity">
          <div class="actor">
              <a href=""><img alt="Gravatar" height="60" src="http://gravatar.com/avatar/9391c1bd2c647090f1d484bc566914f1?size=60" width="60"></a>
          </div>

          <div class="main">
            <div class="content">
              
          <p class="primary">
            Has been created by <a href="">Adrian Hülsmann</a>
          </p>

            </div>
            <p class="footer">
              <small>
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago">2 days ago</span>&nbsp;&nbsp;&nbsp;August 19th, 2014 12:20
              </small>
            </p>
          </div>
        </div>


      </div> <!-- .activity-stream -->
 
    </div>

  </div> <!-- row -->

</div> <!-- .backlog-item-show -->

<script>
  window.BOOTSTRAPPED_DATA = <%= @bootstrapped_data.html_safe %>;
</script>
