<!DOCTYPE html>
<html>
<head>
  <title>mageWeb</title>
  <link href="/styles/style.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header" class="container">
    <a id="logo" href="<%= root_path %>">
      <img src="/images/logo.png">
    </a>
    <ul id="main-nav" class="nav nav-tabs">
      <li class="<%= "active" if controller.controller_name == "home" %>"><%= link_to "Dashboard", root_path %></li>
      <li class="<%= "active" if controller.controller_name =~ /(.*)backlog(.*)/ %>"><%= link_to "Backlog", backlog_path %></li>
    </ul>
    <ul id="user-account-nav">
    <% if user_signed_in? %>
      <li>Signed in as <%= current_user.email %></li>  
      <li><a href="<%= destroy_user_session_path %>">Sign out</a></li>
    <% else %>
      <li><a href="<%= new_user_session_path %>">Sign in</a></li>
      <li><a href="<%= new_user_registration_path %>">Sign up</a>
    <% end %>
    </ul>
  </div>

  <div class="container">
    <% flash.each do |name, msg| -%>
      <%= content_tag :p, msg.html_safe, class: "lead flash flash-#{name} bg-#{name}", style: "padding: 10px" %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
