<%= render layout: 'activity', locals: { activity: @activity } do %>
  <p class="primary">
  <% case @activity.key
     when "backlog_item.create", "backlog_item.update" %>
     <%= activity_actor(@activity.actor) %> <%= activity_action(@activity.key) %> a backlog item: <%= link_to truncate(@activity.object.title), backlog_item_path(@activity.object) %>
  <% when "backlog_item.tagging" %>
    The backlog item
     <%= link_to truncate(@activity.object.backlog_item.title, length: 20), backlog_item_path(@activity.object.backlog_item) %>
     has been tagged with <%= link_to @activity.object.tag.name %>
  <% end %>
  </p>
<% end %>
