<!DOCTYPE html>
<html>
<head>
  <title>mageDesktop</title>
  <link rel="shortcut icon" href="/images/mage-icon.png" sizes="57x57">
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "main" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="layout">
    <header class="header">
      <div class="content container">
        <a href="<%= root_path %>">
          <%= image_tag 'logo-white.png', class: 'logo' %>
        </a>

        <nav class="main-nav">
          <ul>
            <li class="<%= "active" if controller.controller_name == "home" %>"><%= link_to "Dashboard", root_path %></li>
            <li class="<%= "active" if controller.controller_name =~ /(.*)backlog(.*)/ %>"><%= link_to "Product Backlog", backlog_path %></li>
          </ul>
        </nav>

        <nav class="user-nav">
          <ul>
          <% if user_signed_in? %>
            <li><%= current_user.email %></li>  
            <li><a href="<%= destroy_user_session_path %>">Sign out</a></li>
          <% else %>
            <li><a href="<%= new_user_session_path %>">Sign in</a></li>
            <li><a href="<%= new_user_registration_path %>">Sign up</a>
          <% end %>
          </ul>
        </nav> <!-- .user-nav -->
      </div> <!-- .content -->
    </header> <!-- .header -->

    <section class="content container">
      <% flash.each do |name, msg| -%>
        <%= content_tag :p, msg.html_safe, class: "lead flash flash-#{name} bg-#{name}", style: "padding: 10px" %>
      <% end %>

      <%= yield %>
    </section> <!-- .content-->

  </div> <!-- .layout -->
</body>
</html>

